header{
    height: 18%;
    background: url(image/narutochiquito.png) left no-repeat ,orange url(image/narutochiquito.png) right no-repeat;
    background-size: 80px;
}

html{
    background-image: url(image/konoja-simbolo.png);
    background-repeat: no-repeat;
    background-position: center;
}

p.texto1{
    text-align: center;
    word-spacing: 90px;
}

h1.headertext{
    text-align:center;
    letter-spacing: 3px;
    height: 30px;
}
 footer{
    background-color: blanchedalmond;
    height: 8%;
 }

 a:link{
    color: black;
    text-decoration: none;
 }
